<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to jewellery store</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    <body style="background-color:hwb(180 65% 33%)padding-top30px;padding-bottom:20px;">
        <div class="container" style=" background-image: url('https://img.freepik.com/free-vector/luxury-beautiful-shining-jewellery-background_1284-12638.jpg');padding:  350px;padding-right: 350px;padding-top: 20px;padding-bottom: 20px; border-radius: 1%;">
       
            <h1 class="display-6" style= "color:rgb(238, 208, 15), 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,sanserif;font-weight:500;font-family:Georgia, 'Times New Roman', Times, serif">Lady Bug's Jewel </h1><br>
            <div class="card " style="width:500px;background-image: url('https://img.freepik.com/free-vector/luxury-beautiful-shining-jewellery-background_1284-12638.jpg');height:460px;padding-top: 10px;">
              <div class="card-body">
                <h4 class="card-text" style="color:rgb(17, 3, 26)">Login!!</h4><br>
                <form action="loginsubmit " method="GET">
                    <div class="form-group" style="color:rgb(17, 3, 26)";>
                        <label><b>Email Id: </b></label>
                        <input type="text" name="email" class="form-control" placeholder="Enter your email">
                    </div><br>
                    <div class="form-group" style="color:rgb(17, 3, 26)";>
                        <label><b>Password: </b></label>
                        <input type="password" name="pwd" class="form-control" placeholder="Enter password">
                    </div><br>
                    <center><input type="submit"  style="width:30%;font-weight: bold; background-color: rgb(240, 240, 240);" value="Login"><br></center>
                </form>
                <h5 style="	width:100%;text-align:center;border-bottom:1px solid rgb(232, 228, 228);line-height:0.1em;margin:2px 0 2px;font-weight: normal;"><span style="padding:0 5px;background-color: rgb(246, 246, 246);">or</span></h5>
                <br><center><b >connect with</b><br><br></center>
					<div class="row" style="padding-left:130px ;">
						<div class="col-lg-3 col-sm-12"><a href="https://accounts.google.com/"><img class="img rounded" src="google1.jpg" width="40" height="40"></a></div>
						<div class="col-lg-3 col-sm-12"><a href="https://www.instagram.com/"><img class="img rounded" src="https://aragonresearch.com/wp-content/uploads/2016/05/Instagram_App_Large_May2016.png" width="40" height="40"></a></div>
						<div class="col-lg-3 col-sm-12"><a href="https://www.facebook.com"><img class="img rounded" src="face.jpeg" width="40" height="40"></a></div>
					</div><br>
              </div>
            </div>
        </div>
    </body>
</html>